[Network] IPv6

1. IPv6


 [RFC8200] ("Internet Protocol, Version 6 (IPv6) Specification") provides the base architecture and design of IPv6.  In addition to
 [RFC8200], related work in IPv6 that an implementer would be best served to study includes

-  [[RFC4291](https://datatracker.ietf.org/doc/html/rfc4291)] ("IP Version 6 Addressing Architecture")
-  [[RFC4862](https://datatracker.ietf.org/doc/html/rfc4862)] ("IPv6 Stateless Address Autoconfiguration")
-  [[RFC4861](https://datatracker.ietf.org/doc/html/rfc4861)] ("Neighbor Discovery for IP version 6 (IPv6)")

These specifications enable DHCP to build upon the IPv6 work to
   provide robust stateful autoconfiguration.

   [RFC4291] defines the address scope that can be used in an IPv6
   implementation and also provides various configuration architecture
   guidelines for network designers of the IPv6 address space.  Two
   advantages of IPv6 are that support for multicast is required and
   nodes can create link-local addresses during initialization.  The
   availability of these features means that a client can use its
   link-local address and a well-known multicast address to discover and
   communicate with DHCP servers or relay agents on its link.

   [RFC4862] specifies procedures by which a node may autoconfigure
   addresses based on Router Advertisements [[RFC4861](https://datatracker.ietf.org/doc/html/rfc4861)] and the use of a
   valid lifetime to support renumbering of addresses on the Internet.
   Compatibility with stateless address autoconfiguration is a design
   requirement of DHCP.

   IPv6 Neighbor Discovery [[RFC4861](https://datatracker.ietf.org/doc/html/rfc4861)] is the node discovery protocol in
   IPv6 that replaces and enhances functions of ARP [[RFC826](https://datatracker.ietf.org/doc/html/rfc826)].  To
   understand IPv6 and stateless address autoconfiguration, it is
   strongly recommended that implementers understand IPv6 Neighbor
   Discovery.

[[RFC4291](https://datatracker.ietf.org/doc/html/rfc4291)] ("IP Version 6 Addressing Architecture")

1. ipv6 地址的表现
2. ipv6 地址的划分
3. ipv6 特殊地址
4. ipv6 地址作用域


TBC:
https://datatracker.ietf.org/doc/html/rfc4861#autoid-45

https://datatracker.ietf.org/doc/html/rfc3927

Basic IPV6 knowledge sharing was done.
[AutoIP.pptx](https://github.com/Sphinxes0o0/notes/files/13361833/AutoIP.pptx)
